@model Webshop.Models.ShopViewModels.ShopIndexViewModel

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<html>
<head>
    <title>Items</title>
</head>
<body>
<div>
    @foreach (var item in Model.ItemViewModels)
    {
        <p>
            <b>@item.Name</b> Price: @item.Price.ToString("C")<br/>
            @item.Description<br/>
            <a asp-controller="ShopItem" asp-action="ItemDetails", asp-route-itemId="@item.Id">Details</a>
        </p>
    }
</div>
</body>
</html>