@model Webshop.Models.ShopViewModels.ShopIndexViewModel

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<html>
<head>
    <title>Items</title>
</head>
<body>

<h2>Items</h2>
<br/>
<div>
    @foreach (var item in Model.ItemViewModels)
    {
        <p>
            <b>@item.Name</b><br/>
            Price: @item.Price.ToString("C")<br/>
            <a asp-controller="ShopItem" asp-action="ItemDetails", asp-route-itemId="@item.Id">Details</a> |
            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart", asp-route-itemId="@item.Id">Add to cart</a>          
        </p>
    }
</div>
</body>
</html>