@model Webshop.Models.ShopViewModels.ShopIndexViewModel

@{
    ViewData["Title"] = "ItemsByCategory";
}

<h2>Filtered items</h2>

<table class="table">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ItemViewModels)
    {
        <p>
            <b>@item.Name</b><br /> 
            Price: @item.Price.ToString("C")<br/>
            <a asp-controller="ShopItem" asp-action="ItemDetails", asp-route-itemId="@item.Id">Details</a>
        </p>
    }
    
    </tbody>
</table>
<div>
    <a asp-action="CategoryIndex">Back to categories</a>
</div>



