@model Webshop.Models.ShopViewModels.AddOrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h2>Create order</h2>

<h4>Input required information:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuyerName" class="control-label"></label>
                <input asp-for="BuyerName" class="form-control" />
                <span asp-validation-for="BuyerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerSurname" class="control-label"></label>
                <input asp-for="BuyerSurname" class="form-control" />
                <span asp-validation-for="BuyerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label"></label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Cart</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
